.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
images/**
!images/view-ignored.png
scripts/**
.gitignore
.yarnrc
bun.lock
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/.*rc.*
**/*.map
**/*.ts
**/.vscode-test.*
